doctype html 
html(lang="en")
  head
    title="Pay Lite"

    link(rel="stylesheet" href="/static/normalize.css")
    link(rel="stylesheet" href="/static/skeleton.css")
    link(rel="stylesheet" href="/static/pay-lite.css")
  body
    div.nav 
      // div.nav-item
        h5 Pay Lite
      div.nav-item.active
        a(href="/transactions") Transactions
      div.nav-item
        a(href="/payouts") Payouts
    if filtered
      div.spacer
        div.box
          <span style="transform: translateY(1.07px);"><svg style="width: 12px;height: 12px;" height="16" viewBox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg"><path d="M13.994.004c.555 0 1.006.448 1.006 1a.997.997 0 0 1-.212.614l-5.782 7.39L9 13.726a1 1 0 0 1-.293.708L7.171 15.97A.1.1 0 0 1 7 15.9V9.008l-5.788-7.39A.996.996 0 0 1 1.389.214a1.01 1.01 0 0 1 .617-.21z" fill-rule="evenodd"></path></svg></span>
          span  Filter
        span
          span  Payout: 
            code= filtered
    div
      table
        thead
          tr
            th ID
            th.right Amount
            th.right Fees
            th.right Net
            th.right Refunded
            th Settled
            th Date
            th Meta: Payout
            th Meta: Application fee
        tbody
          each key in ["charges", "refunds"]
            tr
              th(colspan="9", style="text-transform: capitalize") #{key}
            each transaction in rows[key].transactions
              tr
                td
                  code= transaction.id
                td.right= key === "refunds" ? `(${transaction.totalFormat})` : transaction.totalFormat
                td.right= transaction.fees > 0 ? `(${transaction.feesFormat})` : transaction.feesFormat
                td.right= key === "refunds" ? `(${transaction.netFormat})` : transaction.netFormat
                td
                  if transaction.refunded
                    span.tag.orange Refunded
                td
                  if transaction.settled
                    span.tag.green Paid
                td= transaction.date
                td
                  if transaction.payout_id
                    code= transaction.payout_id
                td.right
                  if transaction.fee_details
                    span (#{transaction.fee_details.applicationFormat})
            else
              tr
                td(colspan="9") 
                  i No #{key} listed
            tr 
              th(colspan="2").right= key === "refunds" ? `(${rows[key].totals.amount})` : rows[key].totals.amount
              th.right (#{rows[key].totals.fees})
              th.right= key === "refunds" ? `(${rows[key].totals.net})` : rows[key].totals.net
              th(colspan="4")
              th.right 
                if key === "charges" 
                  span (#{rows[key].totals.application_fees})
          tr 
            th(colspan="2").right= totals.amount
            th.right (#{totals.fees})
            th.right= totals.net
            th(colspan="5")
            
            
