doctype html 
html(lang="en")
  head
    title="Pay Lite"
  body
    h1 Transactions
    div
      a(href="/transactions") Transactions
      a(href="/payouts" style="margin-left: 10px") Payouts
    if filtered
      div 
        p 
          span This view is filtered to show only transactions from #{filtered}
          a(href="/transactions")  Remove filter
    div
      table
        thead
          tr
            th ID
            th Amount
            th Fees
            th Net
            th Refunded
            th Settled
            th Payout
            th Created
        tbody
          each transaction in transactions
            tr
              td
                code= transaction.id
              td= transaction.total
              td (#{transaction.fees})
              td= transaction.net
              td= transaction.refunded
              td= transaction.settled
              td
                code= transaction.payout_id
              td= transaction.date
          
          tr 
            td Totals
            td= totals.amount
            td (#{totals.fees})
            td= totals.net
            
            
